* {
  text-align: center;
}

body {
  padding: 5%;
}

h1 {
  font-size: 40px;
}

.portfolio-container {
  padding-top: 20%;
  padding-bottom: 20%;
}

footer {
  margin-top: 90px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.main-image {
  max-width: 75%;
}

.footer-name, .footer-label {
  display: inline-block;
  font-weight: bold;
}
