* {
  text-align: center;
}

body {
  padding: 5%;
}

h1 {
  font-size: 40px;
}

footer {
  margin-top: 90px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
}

img {
  max-width: 100%;
}

.main-image {
  max-width: 75%;
}
